@import url("https://fonts.googleapis.com/css?family=Jura:400");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Jura, Arial;
  font-weight: 400;
}

.container {
  max-width: 1250px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

@media (max-width: 650px) {
  .container {
  }
}
